<div class="np-list">
    <h1>SEARCH RESULTS FOR: {{$ctrl.query}}</h1>
    <!--<h2>Sort by</h2>
     button na próbę 
    <button ng-click="$ctrl.sortBy('original_title.asc')">original_title.asc</button>
    <input list="browsers" name="browser">
    <datalist id="browsers">
        <option value="Title asc" ng-click="$ctrl.sortBy('original_title.asc')">
        <option value="Title desc" ng-click="$ctrl.sortBy('original_title.desc')">
        <option value="Release date asc" ng-click="$ctrl.sortBy('release_date.asc')">
        <option value="Release date desc" ng-click="$ctrl.sortBy('release_date.desc')">
    </datalist>-->
    <movies-list list="$ctrl.movies"></movies-list>
</div>