<div class="movies-library">
    <h1>YOUR MOVIES</h1>
    <div class="options_sort_and_filter">
        <span>Sort by: </span>
        <button ng-click="$ctrl.sortBy('original_title')">Title</button>
        <button ng-click="$ctrl.sortBy('release_date')">Release date</button>
        <!-- <select>
            <option value="00" ng-click="$ctrl.getMovieByMonth(value)">All</option>
            <option value="01" ng-click="$ctrl.getMovieByMonth(value)">January</option>
            <option value="02" ng-click="$ctrl.getMovieByMonth(value)">February</option>
            <option value="03" ng-click="$ctrl.getMovieByMonth(value)">March</option>
            <option value="04" ng-click="$ctrl.getMovieByMonth(value)">April</option>
            <option value="05" ng-click="$ctrl.getMovieByMonth(value)">May</option>
            <option value="06" ng-click="$ctrl.getMovieByMonth(value)">June</option>
            <option value="07" ng-click="$ctrl.getMovieByMonth(value)">July</option>
            <option value="08" ng-click="$ctrl.getMovieByMonth(value)">August</option>
            <option value="09" ng-click="$ctrl.getMovieByMonth(value)">September</option>
            <option value="10" ng-click="$ctrl.getMovieByMonth(value)">October</option>
            <option value="11" ng-click="$ctrl.getMovieByMonth(value)">November</option>
            <option value="12" ng-click="$ctrl.getMovieByMonth(value)">December</option>
        </select> -->
    </div>

    <div ng-repeat="movie in $ctrl.moviesLibrary | orderBy: $ctrl.propertyName: $ctrl.reverse" class="your-movie">
        <button ng-click="$ctrl.removeMovie(movie)" class="deleteButton">-</button>
        <a ng-href="https://www.themoviedb.org/movie/{{movie.id}}">
            <img ng-if="!movie.poster_path" src="https://via.placeholder.com/92x138.jpg" />
            <img ng-if="movie.poster_path" ng-src="{{'https://image.tmdb.org/t/p/w185' + movie.poster_path}}" />
        </a>
        <h2>{{movie.original_title}}</h2>
        <h3>{{movie.release_date}}</h3>
    </div>
</div>