.np-list {
    width: 100%;
    padding: 20px;
    background-color: black;
}

.np-list:after {
    content: "";
    display: table;
    clear: both;
}

/*.np-list h1 {
    font-size: 25px;
    margin-left: 30px;
    color: white;
}*/