<link rel="stylesheet" href="/app/components/nowPlaying/nowPlaying.css">
<div class="np-list">
    <h1>NOW PLAYING</h1>
    <h2>Sort by</h2>
    <!-- button na próbę -->
    <button ng-click="$ctrl.sortBy('original_title.asc')">original_title.asc</button>
    <input list="browsers" name="browser">
    <datalist id="browsers">
        <option value="Title asc" ng-click="$ctrl.sortBy('original_title.asc')">
        <option value="Title desc" ng-click="$ctrl.sortBy('original_title.desc')">
        <option value="Release date asc" ng-click="$ctrl.sortBy('release_date.asc')">
        <option value="Release date desc" ng-click="$ctrl.sortBy('release_date.desc')">
    </datalist>
    <movie-details ng-repeat="movie in $ctrl.nowPlayingList | limitTo:10 | orderBy: attr" movie="movie"></movie-details>
</div>